@import 'scss/config';
@import 'scss/buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $font-stack;
  background: url(./assets/background_main.jpg) no-repeat fixed;
  background-size: cover;
}

#app {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba($primary-color, 0.7);
  overflow-y: scroll;
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }
}

img {
  width: 100%;
}

a {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

p {
  color: #fff;
}

.showcase {
  z-index: 4;
  background-color: rgba($primary-color, 0.9);
  position: sticky;
  top: 0;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo-main {
    margin-left: 25px;
  }

  img {
    height: 70px;
  }
}

.showcase-mid {
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: space-around;
  flex-wrap: wrap;

  .movie-card {
    z-index: 2;
    align-self: stretch;
    margin: 15px;
    padding: 20px;
    background-color: rgba($secondary-color, 0.7);
    border-radius: 5px;
    width: 400px;
    transition: 0.3s;
  }

  .movie-card:hover {
    background-color: rgba($primary-color, 0.3);
    cursor: pointer;

    .poster {
      opacity: 0.6;
    }

    .content {
      opacity: 0.6;
    }

    .more-info {
      display: block;
      z-index: 1;
    }
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    .more-info {
      display: none;
      position: absolute;
      margin-top: 250px;
      margin-left: 143px;

      i {
        font-size: 65px;
        color: #fff;
      }

      h4 {
        margin-top: 5px;
        margin-left: -15px;
      }
    }
  }

  .poster {
    position: relative;

    .rating-overlap {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: -17px;
      margin-right: -10px;

      i {
        font-size: 50px;
        color: #e9c116;
      }

      h4 {
        text-align: center;
        margin-top: -31px;
        margin-right: -6px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}

.btn-align {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.roulette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  width: 25%;
  background-color: rgba($primary-color, 0.8);
  padding: 15px;
  border-radius: 20px;
  z-index: 2;

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    i {
      color: #fff;
      font-size: 25px;
    }

    i:hover {
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h3 {
      margin-top: 10px;
      margin-left: 25px;
    }

    label {
      color: #fff;
      font-size: 18px;
    }

    .genres {
      margin-left: 50px;
      margin-top: 10px;
    }

    button {
      margin: 10px auto;
    }
  }
}

.roulette-icon {
  font-size: 35px;
}

.details-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba($secondary-color, 0);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  .modal-content {
    margin-top: 75px;
    width: 70%;
    height: fit-content;
    padding: 25px;
    box-shadow: 0 0 50px $primary-color;
    background-color: rgba($secondary-color, 0.9);

    .details-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 5px;

      * {
        margin: 5px 0;
      }

      p {
        display: inline-block;
        font-weight: normal;
      }
    }

    .details-content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 70%;

      p {
        display: inline-block;
        font-weight: normal;
      }
    }

    .overview {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin-top: 10px;
      width: 100%;
      height: 400px;
      background-size: cover;

      p {
        max-width: 75%;
        max-height: fit-content;
        padding: 5px 10px;
        text-align: justify;
        background-color: rgba($primary-color, 0.8);
        border-top-right-radius: 5px;
      }
    }
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 40%;
  height: 50%;
  margin-top: 25px;
  margin-left: 100px;
  z-index: 2;

  .form-img {
    display: flex;
    align-items: center;
    height: 80%;
    width: 40%;
    opacity: 0.8;

    img {
      height: 100%;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }
  }

  .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(#fff, 0.8);
    height: 80%;
    width: 60%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    .session {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;

      p {
        text-align: center;
        color: #000;
      }

      h2 {
        text-align: center;
        color: #000;
      }

      .id {
        margin-top: 5px;
        padding: 10px;
        border: 2px solid $primary-color;
        color: #000;
      }

      input,
      button {
        margin-top: 5px;
        font-size: 16px;
      }

      form {
        display: flex;
        align-items: center;
        flex-direction: column;

        label {
          margin-top: 15px;
          color: #000;
          font-weight: bold;

          input {
            margin-left: 5px;
          }
        }

        button {
          width: fit-content;
          margin-top: 5px;
          font-size: 16px;
        }
      }
    }
  }
}

@import 'scss/mobile';
