@import 'scss/config';
@import 'scss/buttons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $font-stack;
  background: url(./assets/background_main.jpg) no-repeat fixed;
  background-size: cover;
}

#app {
  position: absolute;
  overflow: auto;
  height: 100vh;
  width: 100%;
  background: rgba($primary-color, 0.7);
  z-index: 1;
}

img {
  width: 100%;
}

a {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

p {
  color: #fff;
}

.showcase {
  z-index: 3;
  background-color: rgba($primary-color, 0.8);
  position: fixed;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo-main {
    margin-left: 25px;
  }

  .roulette-login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
  }

  img {
    height: 70px;
  }
}

.showcase-mid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-card {
  z-index: 2;
  align-self: stretch;
  margin: 15px;
  padding: 20px;
  background-color: rgba($secondary-color, 0.2);
  border-radius: 5px;
  width: 400px;
  transition: 0.3s;
}

.movie-card:hover {
  background-color: rgba($primary-color, 0.3);

  .movie-info {
    opacity: 0.5;
  }

  // box-shadow: inset 0 0 30px 30px $primary-color;

  .more-info {
    display: block;
  }
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.poster {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
}

.more-info {
  display: none;
  position: absolute;
  border-radius: 50%;
  top: 0;
  margin-top: 250px;
  margin-left: 143px;

  i {
    font-size: 65px;
    color: #fff;
  }
}

.rating-overlap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -17px;
  margin-right: -10px;

  i {
    font-size: 50px;
    color: #e9c116;
  }

  h4 {
    text-align: center;
    margin-top: -31px;
    margin-right: -6px;
  }
}
