%btn {
  border-radius: 5px;
  padding: 8px 15px;
  margin: 3px 10px;
  border: none;
  color: #fff;
  background-color: $secondary-color;

  &:hover {
    transform: scale(0.98);
    opacity: 0.9;
    cursor: pointer;
  }
}

%btn-animation {
  &:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
}

.btn-load {
  @extend %btn;
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 25px;
}

.btn-primary {
  @extend %btn;
}

.btn-secondary {
  @extend %btn;
  @extend %btn-animation;
}

.btn-roll {
  @extend %btn;
  margin: 10px 0;
  width: 50%;
  font-weight: bold;
  font-size: 25px;
}

.btn-roulette {
  @extend %btn;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
