$laptop: 1024px;
$tablet: 768px;
$mobile-s: 320px;
$mobile-l: 425px;

@media (max-width: 1740px) {
  .details-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 1510px) {
  .login {
    width: 50%;

    .form-container {
      .form {
        text-align: center;
      }
    }
  }
}

@media (max-width: 1540px) {
  h2 {
    font-size: 18px;
  }
}

@media (max-width: $laptop) {
  .login {
    width: 70%;
  }
}

@media (max-width: 1100px) {
  .overview {
    background-position: center center;
  }
}

@media (max-width: 1178px) {
  .roulette {
    width: 40%;
  }
}

@media (max-width: 764px) {
  .roulette {
    width: 60%;
  }
}

@media (max-width: 727px) {
  .login {
    width: 100%;
    margin-left: 0;

    .form-img {
      display: none;
    }

    .form-container {
      border-radius: 25px;
      width: 80%;
    }
  }
}

@media (max-width: $tablet) {
  .showcase {
    height: 55px;

    img {
      height: 50px;
    }

    .btn-login {
      font-size: 12px;
    }
  }
}

@media (max-width: 577px) {
  .details-modal {
    .modal-content {
      width: 90%;
    }
  }
}

@media (max-width: 515px) {
  .roulette {
    width: 75%;
  }
}

@media (max-width: 447px) {
  .details-modal {
    .modal-content {
      width: 100%;
    }
  }
}

@media (max-width: 404px) {
  .roulette {
    width: 80%;
  }
}

@media (max-width: $mobile-l) {
  .btn-roulette {
    width: 50px;
    height: 50px;

    i {
      font-size: 25px;
    }
  }

  .btn-load {
    width: 50px;
    height: 50px;
    font-size: 12px;

    &::before {
      border: 2px dotted #fff;
    }
  }
}

@media (max-width: $mobile-s) {
  .id {
    font-size: 12px;
  }
}
